.App {
  text-align: center;
  background-image: url('images/pokemon2.jpeg');
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#background {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

select {
  width: 400px;
  padding: 5px 5px 5px 5px;
  margin: 15px 0;
  font-size: 2rem;
  font-family: Audiowide;
  text-align: center;
  -webkit-appearance: none;
  background: 96% / 15% no-repeat whitesmoke;
  border: 2px solid navy;
  border-radius: 4px;
  display: block;
 } 

h1 {
  text-align: center;
  font-size: 50pt;
  padding: 0%;
  margin: 1%;
} 

#splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 2rem;
}

#aside {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-left: 2rem;
}
